[packages]
apicrud = "==0.0.75"
Pillow = "==8.2.0"

# for faster builds, keep these versions in sync with images
# instantlinux/python-builder and instantlinux/python-uwsgi
alembic = "*"
celery = "*"
connexion = "==2.7.0"
"connexion[swagger-ui]" = "*"
dollar-ref = "*"
# 1.4.1 throws shitloads of warnings
SQLAlchemy = "<1.4.0"
SQLAlchemy-Utils = "*"
swagger-ui-bundle = "*"

# Transitive dependencies pinned to versions of python-wsgi base image
arrow = "==0.17.0"
b2sdk = "==1.12.0"
boto3 = "==1.17.93"
botocore = "1.20.93"
cffi = "==1.14.5"
cryptography = "==3.3.2"
# TODO update to support 0.3.x
openapi-spec-validator = "==0.2.9"
pycryptodomex = "==3.10.1"
PyJWT = "*"
six = "==1.15.0"

[dev-packages]
coverage = "==5.5"
fakeredis = "*"
flake8 = "3.9.2"
moto = "*"
pytest = "*"
pytest-cov = "*"
