[packages]
apicrud = "==0.2.9"
# TODO put this back when alpine 3.16 comes out
# Pillow = "==9.0.0"

# for faster builds, keep these versions in sync with images
# instantlinux/python-builder and instantlinux/python-uwsgi
alembic = "*"
celery = "*"
connexion = "==2.7.0"
"connexion[swagger-ui]" = "*"
dollar-ref = "*"
# 1.4.1 throws shitloads of warnings
SQLAlchemy = "<1.4.0"
SQLAlchemy-Utils = "*"
swagger-ui-bundle = "*"
# Held back due to
# AttributeError: 'LocalStack' object has no attribute '__ident_func__'
werkzeug = "==2.0.2"
# Held back due to
# AttributeError: module 'jinja2.ext' has no attribute 'autoescape'
jinja2 = "==3.0.3"

# Transitive dependencies pinned to versions of python-wsgi base image
arrow = "==1.2.1"
b2sdk = "==1.16.0"
boto3 = "==1.18.49"
botocore = "==1.21.49"
cffi = "==1.14.5"
cryptography = "==3.3.2"
# TODO update to support 0.3.x
openapi-spec-validator = "==0.2.9"
packaging = "==20.9"
pycryptodomex = "==3.10.1"
PyJWT = "*"
six = "==1.16.0"

# I don't f'ing understand why this fixes the click 7.1.2 dependency
click-didyoumean = "==0.0.3"
# fakeredis doesn't handle newest redis
redis = "<4.1.0"

[dev-packages]
coverage = "==6.3.3"
fakeredis = "*"
flake8 = "4.0.1"
moto = "*"
pytest = "*"
pytest-cov = "*"
