[packages]
apicrud = "==0.3.6"
Pillow = "==9.5.0"

# for faster builds, keep these versions in sync with images
# instantlinux/python-builder and instantlinux/python-uwsgi
alembic = "*"
connexion = "*"
"connexion[swagger-ui]" = "*"
dollar-ref = "*"
# 1.4.1 throws shitloads of warnings
SQLAlchemy = "<1.4.0"
SQLAlchemy-Utils = "*"
swagger-ui-bundle = "*"
werkzeug = "==2.2.3"
jinja2 = "==3.1.2"

# Transitive dependencies pinned to versions of python-wsgi base image
b2sdk = "==1.23.0"
billiard = "==4.1.0"
boto3 = "==1.26.132"
botocore = "==1.29.132"
cachetools = "5.3.1"
celery = "==5.3.1"
cffi = "==1.15.1"
cryptography = "==41.0.3"
flask = "==2.2.5"
flask-babel = "==2.0.0"
greenlet = "==2.0.2"
packaging = "==23.1"
pycryptodomex = "==3.17"
redis = "4.6.0"
referencing = "==0.30.2"
tqdm = "==4.66.1"
six = "==1.16.0"

[dev-packages]
coverage = "==7.2.7"
fakeredis = "*"
flake8 = "6.1.0"
moto = "*"
pytest = "*"
pytest-cov = "*"
